
# Created by https://www.gitignore.io/api/visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history


# End of https://www.gitignore.io/api/visualstudiocode

sqlite_data
redis_data
mongo_data
mosquitto_data
portainer_data
mssql_server_data
logs
postgres/data/*
